<h2><%= @user.name %>'s Readings</h2>

<% if @entries.blank? %>
  You do not have any readings.
<% else %>
  <table>
    <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= entry.category.name %>
        </td>
        <td>
          <%= link_to entry.created_at.strftime("%B %e, %Y"), user_entry_path(entry.user, entry) %>
        </td>
        <td>
          <%= button_to "Delete Reading", user_entry_path(@user, entry), method: :delete, onclick: "return confirm('Are you sure you want to delete this reading?')" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>