<h2><%= @user.name %>'s Readings</h2>

<table>
  <% @entries.each do |entry| %>
    <tr>
      <td>
        <%= link_to entry.created_at.strftime("%B %e, %Y at %l:%M%p"), user_entry_path(entry.user, entry) %>
      </td>
      <td>
        <% entry.cards.each do |card| %>
          <%= card.name %><%= ',' unless card == entry.cards.last %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>