<h3>Welcome to <span class="logo-font">connecTarot</span></h3>

<p>&nbsp;</p>
<span class="welcome-message">This application is designed to connect like-minded people together in the world of tarot. connecTarot users are able to track their own tarot readings, receive readings from other users, and conduct readings for others.</span>
<p>&nbsp;</p>

<%= image_tag "tarot_splash.jpg", width: "60%" %>