<h3>Welcome to <span class="logo-font">connecTarot</span></h3>

<p>
    This application is designed to connect like-minded people together in the world of tarot. Users are able to track their own tarot readings, get readings from other users and perform readings for others
</p>

<br>

<%= image_tag "tarot_splash.jpg", width: "600" %>