
<p>&nbsp;</p>
<span class="logo-font">connecTarot</span>
<br>
<span class="welcome-message">designed to connect like-minded people together in the world of tarot. Users are able to track their own tarot readings, receive readings, and conduct readings for others.</span>

<br>

<%= image_tag "tarot_splash.jpg", width: "60%" %>