<h2>Reading Requests</h2>

<p>
  <span class="error-font"><%= flash[:notice] if flash[:notice] %></span>
</p>

<% if @requests.any? %>
  <% @requests.each do |request| %>
    <% if request.responder.nil? %>
      <li><%= request.title %> from <%= request.requestor.name %> - <%= button_to "Accept Request", request_path(request), method: "patch" %></li>
    <% end %>
  <% end %>
<% end %>