<% title "connecTarot - All Cards" %>

<h2>Tarot Cards</h2>
<br>

<table class="cards-display">
  <tr>
    <td>
      <span class="thoughts-keyword">Major Cards:</span>
    </td>
  </tr>
  <% @cards.each do |card| %>
    <% if card.designation == "Major" %>
      <tr>
        <td>
          <%= link_to card.name, card_path(card) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>&nbsp;</p><hr><p>&nbsp;</p>

<table class="cards-display">
  <tr>
    <td>
     <span class="thoughts-keyword">Minor Cards:</span>
    </td>
  </tr>
<% @cards.each do |card| %>
  <% if card.designation == "Minor" %>
    <tr>
      <td>
        <%= link_to card.name, card_path(card) %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>