<h2>Cards</h2>
<br>

<span class="thoughts-keyword">Major Cards:</span>
<p>
<% @cards.each do |card| %>
  <% if card.designation == "Major" %>
    <%= link_to card.name, card_path(card) %><br>
  <% end %>
<% end %>
</p>

<span class="thoughts-keyword">Minor Cards:</span>
<p>
<% @cards.each do |card| %>
  <% if card.designation == "Minor" %>
    <%= link_to card.name, card_path(card) %><br>
  <% end %>
<% end %>
</p>