<% title "connecTarot - All Cards" %>
<h2>Tarot Cards</h2><br>

<table class="cards-display">
  <tr>
    <td><span class="thoughts-keyword">Major Cards:</span></td>
  </tr>
  <% @cards.each do |card| %>
    <%= display_link_by_designation(card, "Major") %>
  <% end %>
</table>

<p>&nbsp;</p><hr><p>&nbsp;</p>

<table class="cards-display">
  <tr>
    <td><span class="thoughts-keyword">Minor Cards:</span></td>
  </tr>
  <% @cards.each do |card| %>
    <%= display_link_by_designation(card, "Minor") %>
  <% end %>
</table>