.question-title {
    font-size: 16px;
    text-decoration: underline;
}

.card-name {
    color: #aa00ff;
    font-size: 16px;
}

.italic {
    font-style: italic;
}

.justified {
    text-align: justify;
}

.centered {
    text-align: center;
}