.field_with_errors input {
  border: 2px dashed #ee00ff;
  background-color: #fbccff;
}

.field_with_errors textarea {
  border: 2px dashed #ee00ff;
  background-color: #fbccff;
}

.field_with_errors select {
  border: 2px dashed #ee00ff;
  background-color: #fbccff;
  color: black;
}

.error-font {
    color: #aa00ff;
    border: 1px dashed #ee00ff;
    border-radius: 15px;
    background-color: #fbccff;
    padding: 2px 6px;
    font-size: 12px;
    width: 30%;
}