input {
    border-radius: 15px;
}

input[type="submit"] {
    background-color: #d787ff;
    color: #fbf0ff;
    font-family: 'Lexend Giga', sans-serif;
    border-radius: 15px;
    border: 2px dashed black;

    &:hover {
        background-color: #ee00ff;
    }
} 