.account-values {
  color: #aa00ff;
}

img#profile-pic {
  border: 1px solid #aa00ff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.edit-account {
  padding: 20px;
  border: 1px dashed #aa00ff;
  background-color: #ffe3fa;
  border-radius: 15px;

  td {
    text-align: justify;
  }
}

.account-info {
  background-color: #ebe0ff;
  border-radius: 15px;
  border: 1px dashed #ee00ff;
  width: 25%;
  padding: 10px;

  table {
    margin: auto;
  }
}