.account-values {
    color: #aa00ff;
}

img#profile-pic {
    border: 1px solid #aa00ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}