td {
    padding: 5px;
    text-align: center;
}


.summary-display {
    background-color: #d7c2ff;
    border: none;
    color: black;
    font-size: 12px;
    width: auto;
    height: 100%;
    border-radius: 15px;
    text-align: justify;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.summary-table th {
    padding: 5px;
    color: #aa00ff;

}

.all-entries {
    width: 90%;
}