.question-title {
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}

.card-name {
    color: #aa00ff;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 16px;
}

.card-name-small {
    color: #aa00ff;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 14px;
}

.category-name {
    font-style: italic;
    font-family: 'Lexend Giga', sans-serif;
    color: #ee00ff;
}

.justified {
    text-align: justify;
}

.centered {
    text-align: center;
}

#entry-date {
    font-family: 'Lexend Giga', sans-serif;
}

.thoughts-display {
    background-color: #d7c2ff;
    border: 1px dashed #aa00ff;
    color: black;
    font-size: 11px;
    width: 80%;
    height: 100%;
    border-radius: 15px;
    text-align: justify;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.thoughts-keyword {
    text-align: center;
    font-size: 16px;
    font-family: 'Lexend Giga', sans-serif;
    color: #ee00ff;
}

#thoughts-align {
    text-align: justify;
}

.delete-thought {
    font-size: 9px;
    display: inline-block;
}

.three-cards {
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-top: 1px dashed #aa00ff;
}

.interpretations {
    background-color: #ebe0ff;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
    border: 1px dashed #aa00ff;
    padding: 5px;
    border-radius: 15px;
}