.question-title {
    font-size: 16px;
    text-decoration: underline;
}

.card-name {
    color: #aa00ff;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 16px;
}

.category-name {
    font-style: italic;
    font-family: 'Lexend Giga', sans-serif;
    color: #ee00ff;
}

.justified {
    text-align: justify;
}

.centered {
    text-align: center;
}

#entry-date {
    font-family: 'Lexend Giga', sans-serif;
}